---
topnav: security
nav:
-
  name: Setup
  articles:
  -
    title: Overview
    url: /setup/index.html
  -
    title: Upgrade
    url: /setup/upgrade.html
  
-
  name: New Install
  articles:
  -
    title: Overview
    url: /setup/db_overview.html
  -
    title: mysql
    url: /setup/db_mysql.html
  -
    title: postgres
    url: /setup/db_postgres.html    
-
  name: Postfix
  articles:
  -
    title: Config Overview
    url: /setup/postfix_overview.html
  -
    title: Virtual Config
    url: /setup/postfix_virtual.html
-
  name: Doveecot
  articles:
  -
    title: Dovecot Overview
    url: /setup/dovecot_overview.html
  -
    title: Dovecot Config
    url: /setup/postfix_virtual.html

---
{% include main_layout.html %}